<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Bricolage Grotesque', sans-serif;
            background-image: url("mountains.jpg");
            background-position: center;
            background-size: cover;

        }

        .main {
            height: 100vh;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
        }

        .profile{
            display: flex;
            justify-content: center;
        }

        label,
        input[type=submit] {
            font-weight: 900;
            color: #809388;
        }

        input,select{
            margin: 10px 0;
            width: 25vmax;
            height: 5vmin;
            font-size: 2.5vmin;
            padding: 0 1vmin;
            border-radius: 4px;
            border: 1px solid black;
            background-color: transparent;
        }
        input::placeholder{
            color: whitesmoke;
            font-size: medium;
        }
        input[type=submit]{
            background-color: #1240B2 !important;
            color: white;
            border: 1px solid black;
            cursor: pointer;
        }
        input{
            border: none;
            outline: none;
            border-bottom: 2px solid #739c96;
            background-color: transparent !important;
            color: whitesmoke;
        }
        .ack{
            display: flex;
            justify-content: center;
        }
        #myform{
            border: 0px solid black;
            padding: 20px 60px;
            box-shadow: 0px 0px 10px #1d3b3d;
            border-radius: 10px;
        }
        h1{
            text-align: center;
            line-height: 80px;

        }
        select{
            color: honeydew;
            outline: none;
            border: none;
            border-bottom: 2px solid #739c96;
            background-color: transparent !important;
        }
        select::placeholder{
            color: wheat;
        }
        option{
            background-color: black;
        }
        
    </style>
</head>
<body>
    <div class="main">
        <form action="/forgot-password" method="post">
            <div class="profile">
                <img src="assets/images/profile.png" alt="">
            </div>
            <div class="inputs">
                <label for="email">Enter your email:</label><br>
                <input type="email" name="Email" id="email" placeholder="Enter your email:" required>
            </div>
            <div class="inputs">
                <label for="person">Enter your role:</label><br>
                <select name="Role" id="person" required>
                    <option value="Student">Student</option>
                    <option value="Faculty">Faculty</option>
                    <option value="HOD">HOD</option>
                </select>
            </div>
            <div class="inputs">
                <label for="department">Enter your department:</label><br>
                <input type="text" name="Department" id="department" placeholder="Enter your department:" required>
            </div>
            <div class="input_btn">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>
