<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      body {
          font-family: Arial, sans-serif;
          background-color: #f0f0f0;
          margin: 0;
          padding: 0;
          background-image: url("mountains.jpg");
      }
      
      .block1 {
          border: 2px solid #333;
          margin: 10px;
          padding: 20px;
          background-color: #fff;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
          text-align: center;
      }
      
      h3 {
          margin: 10px 0;
      }
      
      form {
          display: flex;
          flex-direction: column;
      }
      
      input[type="hidden"] {
          display: none;
      }
      
      input[type="submit"] {
          background-color: #0077b6;
          color: #fff;
          border: none;
          padding: 10px;
          cursor: pointer;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ddd;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }

      th {
        background-color: #0077b6;
        color: #fff;
        padding: 15px;
        width: 200px;
      }

      td {
        padding: 15px;
        width: 200px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      tr:nth-child(odd) {
        background-color: #fff;
      }

      /* Hover effect for table rows */
      tr:hover {
        background-color: #d2d2d2;
        border: none;
      }
      .block{
        display: flex;
        justify-content: center;
        margin: 0 auto;
      }
      #block2 {
        max-height: 500px;
        overflow-y: auto;
      }
      #myhead{
        background: transparent;
      }
      #nothead{
        color: whitesmoke;
        background: transparent;
      }
      #list{
        text-align: center;
        font-weight: 600;
        color: white;
        margin-top: 20px;
      }

  </style>
</head>
<body>
  <%- include('header',{name:name}); -%>
  <p id="list">List of Faculty</p>
  <div class="block">
    <div id="block2">
      <table>
        <tr id="myhead">
          <th>Name</th>
          <th>Email</th>
          <th>Ask a Doubt</th>
        </tr>
        <% if (locals.names) { %>
          <% for (var i = 0; i < names.length; i++) { %>
            <tr id="nothead">
              <td><%= names[i].name %></td>
              <td><%= names[i].email %></td>
              <td>
                <form action="/faculty" method="POST">
                  <input type="hidden" name="email" value="<%= names[i].email %>">
                  <input type="submit" value="Ask">
                </form>
              </td>
            </tr>
          <% } %>
        <% } %>
      </table>
    </div>    
  </div>
</body>
</html>