<div class="faculty-replies">
    <a id="reply" href="/facultyreplies">Replies</a>
    <a href="/student-requests" id="student-requests">View Requests Sent</a>
</div>
    <div id="main">
        <div id="sample">
            <div id="doubts">
                <div class="content">
                    <p>
                        Click here to ask doubts from different branch faculties
                    </p>
                </div>
                <button class="btn btn-primary animate__animated animate__zoomIn animate__infinite" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Branches</button>
            </div>
            <div id="permissions">
                <div class="content">
                    <p>
                        click here to get permissions your HOD's
                    </p>
                </div>
                <button type="button" class="btn btn-primary animate__animated animate__zoomIn animate__infinite"><a id="permit" href="/request-form">Permissions</a></button> 
            </div>
        </div>
    </div>
</body>
</html>